:root {
  font-size: 16px;
  line-height: 24px;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

#app {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

@media (prefers-color-scheme: dark) { 
  textarea, input {
    color: #213547 !important;
    background-color: #ffffff;
  }
}

input {
  font-family: "LXGW WenKai Screen", sans-serif;
  font-size: 16px;
}